#wrap {
  width: 200px;
}

p {
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}
a {
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}

.blockType {
  margin: 0px;
  width: 100%;
  height: 40px;
  border-color: rgba(0, 0, 0, 0);
  transition-duration: 0.4s;
  color: black;
  font-size: 15px;
  text-align: left;
  padding-left: 8px;
}

.blockType:hover {
  color: white;
  cursor: pointer;
  border-color: black;

}

#buttonNetwork {
  background-color: LightGreen;
}
#buttonDeleter {
  background-color: LightGreen;
}


#imageButtonContainer {
  margin: auto;
  width: 90;
}

.showBlockingInfo {
  padding-left: 6px;
  padding-bottom: 5px;
}

#upperBlock {
  width: 90%;
  padding: 10px;
  padding-top: 30px;
}

#middleBlock {
  margin-top: 25px;
  border-color: Gainsboro;
  border-width: 5px;
  border-style: solid;
}

#siteName {
  position: relative;
  text-align: center;
  font-size: 20px;
  top: -2px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 5px;
  background-color: Gainsboro;  
}

#logo {
  padding-top: 20px;
  width: 80px;
  height: 80px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#onText {
  position: absolute;
  left: 65px;
}

#offText {
  position: absolute;
  left: -5px;
}

#switchContainer {
  position: relative;
  bottom: 17px;
  left: 5px
}

#status {
  position: relative;
  top: 42px;  
  color:#ffffff;
  font-weight: 600;
}

#settings {
  position: absolute;
  right: 15px;
  top: 15px;
  width: 20px;
  height: 20px;
}

/*Code von Linie 118 bis 186 ist von: https://www.w3schools.com/howto/howto_css_switch.asp, zuletzt besucht 30.09.2022*/
.switch {
  position: absolute;
  width: 40px;
  height: 20px;
  left: 15px;
  top: 15px;

}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(255, 0, 0);
  -webkit-transition: .2s;
  transition: .2s;
}

#switchOnOff {
  position: absolute;
  left: 15px;
  top: 15px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 0.5px;
  bottom: 0px;
  background-color: rgb(0, 0, 0);
  -webkit-transition: .2s;
  transition: .2s;
}

input:checked + .slider {
  background-color: LightGreen;
}

input:focus + .slider {
  box-shadow: 0 0 1px LightGreen;
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 20px;
}

.slider.round:before {
  border-radius: 50%;
}


/*Code von linie 190 bis 273 is von: https://tutorialzine.com/2014/07/css-inline-help-tips, zuletzt besucht: 30.09.2022*/
.help-tip{
  position: absolute;
  bottom: 20px;
  right: 18px;
  text-align: center;
  background-color: #ffffff;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  font-size: 10px;
  line-height: 12px;
  cursor: pointer;
}

.help-tip:before{
  content:"!";
  font-weight: bold;
  color:rgb(0, 0, 0);
}

.help-tip:hover p{
  display:block;
  transform-origin: 100% 0%;

  -webkit-animation: fadeIn 0.3s ease-in-out;
  animation: fadeIn 0.3s ease-in-out;

}

.help-tip p{    /* The tooltip */
  display: none;
  text-align: left;
  background-color: rgba(0, 0, 0, 1);
  padding: 20px;
  width: 150px;
  position: absolute;
  border-radius: 3px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  right: -6px;
  bottom: 19px;
  color: #FFF;
  font-size: 13px;
  line-height: 1.4;
}

.help-tip p:before{ /* The pointer of the tooltip */
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  border:6px solid transparent;
  border-bottom-color:#1E2021;
  transform: rotate(180deg);
  right:6px;
  bottom: -12px;
}

.help-tip p:after{ /* Prevents the tooltip from being hidden */
  width:100%;
  height:40px;
  content:"";
  position: absolute;
  top:-40px;
  left:0;
}

/* CSS animation */

@-webkit-keyframes fadeIn {
  0% { 
      opacity:0; 
      transform: scale(0.6);
  }

  100% {
      opacity:100%;
      transform: scale(1);
  }
}

@keyframes fadeIn {
  0% { opacity:0; }
  100% { opacity:100%; }
}